/* -------- App Container -------- */

.app-container {
  padding: 30px;
  font-family: Arial;
}

/* -------- Header -------- */

.header-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
}

/* -------- Bottom Layout -------- */

.bottom-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

/* -------- Form -------- */

.form {
  width: 320px;
  border: 1px solid #d7dfe9;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 15px;
}

.form label {
  font-size: 12px;
  color: #7e858e;
  margin-top: 10px;
  margin-bottom: 5px;
}

.form input,
.form select {
  height: 35px;
  border: 1px solid #d7dfe9;
  border-radius: 4px;
  padding: 5px 10px;
  outline: none;
}

.form button {
  margin-top: 15px;
  height: 35px;
  background-color: #0b69ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* -------- History -------- */

.history {
  flex: 1;
}

.history h2 {
  margin-bottom: 10px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d7dfe9;
  padding: 12px 20px;
  font-weight: 500;
}

.history ul {
  padding: 0;
  margin: 0;
}

/* -------- Transaction Rows -------- */

.transaction-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d7dfe9;
  padding: 12px 20px;
  list-style: none;
  margin-top: 10px;
}

/* -------- Responsive Design -------- */

/* Small Devices */
@media screen and (max-width: 576px) {
  .bottom-container {
    flex-direction: column;
  }

  .form {
    width: 100%;
  }

  .history-header {
    font-size: 14px;
    padding: 10px;
  }

  .transaction-item {
    font-size: 14px;
    padding: 10px;
  }
}

/*  Medium Devices */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .bottom-container {
    flex-direction: column;
  }

  .form {
    width: 60%;
  }
}
